In [1]:
from os.path import abspath
import pyspark
from pyspark.sql import SparkSession

In [2]:
warehouse_location = abspath('spark-warehouse')
scSpark = SparkSession.builder \
    .appName("Spark Hive") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .enableHiveSupport() \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/08/09 15:18:50 INFO org.apache.spark.SparkEnv: Registering MapOutputTracker
22/08/09 15:18:50 INFO org.apache.spark.SparkEnv: Registering BlockManagerMaster
22/08/09 15:18:50 INFO org.apache.spark.SparkEnv: Registering BlockManagerMasterHeartbeat
22/08/09 15:18:50 INFO org.apache.spark.SparkEnv: Registering OutputCommitCoordinator

In [3]:
scSpark.sql("SELECT * FROM laporan_cuaca").show()

ivysettings.xml file not found in HIVE_HOME or HIVE_CONF_DIR,/etc/hive/conf.dist/ivysettings.xml will be used
22/08/09 15:19:18 WARN org.apache.hadoop.util.concurrent.ExecutorHelper: Thread (Thread[GetFileInfo #1,5,main]) interrupted:
java.lang.InterruptedException
	at com.google.common.util.concurrent.AbstractFuture.get(AbstractFuture.java:510)
	at com.google.common.util.concurrent.FluentFuture$TrustedFuture.get(FluentFuture.java:88)
	at org.apache.hadoop.util.concurrent.ExecutorHelper.logThrowableFromAfterExecute(ExecutorHelper.java:48)
	at org.apache.hadoop.util.concurrent.HadoopThreadPoolExecutor.afterExecute(HadoopThreadPoolExecutor.java:90)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1157)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)
22/08/09 15:19:33 WARN org.apache.spark.scheduler.cluster.YarnScheduler: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources

+-----------+------+----------------+----------+--------------+--------------+----------+--------+--------------------+
|       kota| cuaca| cuaca_deskripsi|temperatur|temperatur_min|temperatur_max|      date|   waktu|             created|
+-----------+------+----------------+----------+--------------+--------------+----------+--------+--------------------+
|    Bandung|Clouds|   broken clouds|    294.28|        294.28|        294.28|2022-08-09|14:58:13| 2022-08-09T14:58:13|
|      Medan|  Haze|            haze|    299.83|        299.83|        300.17|2022-08-09|14:58:12| 2022-08-09T14:58:12|
|     Lombok|Clouds| overcast clouds|    294.42|        294.42|        294.42|2022-08-09|13:49:15| 2022-08-09T13:49:15|
|     Lombok|Clouds|   broken clouds|    294.07|        294.07|        294.07|2022-08-09|14:58:12| 2022-08-09T14:58:12|
|Labuan Bajo|Clouds|      few clouds|    297.42|        297.42|        297.42|2022-08-09|14:58:12| 2022-08-09T14:58:12|
|       Bali|Clouds| overcast clouds|    298.28|        298.28|        298.69|2022-08-09|13:26:50| 2022-08-09T13:26:50|
|       Bali|Clouds| overcast clouds|    298.28|        298.28|        298.69|2022-08-09|13:49:14| 2022-08-09T13:49:14|
|       Bali|Clouds|   broken clouds|    298.28|        298.28|        298.69|2022-08-09|14:58:12| 2022-08-09T14:58:12|
|Labuan Bajo|Clouds|scattered clouds|    297.72|        297.72|        297.72|2022-08-09|13:49:15| 2022-08-09T13:49:15|
|     Lombok|Clouds| overcast clouds|    294.54|        294.54|        294.54|2022-08-09|13:26:50| 2022-08-09T13:26:50|
|       Bali|Clouds| overcast clouds|    299.39|        299.39|        299.69|2022-08-09|06:31:41|2022-08-09T06:31:...|
|    Bandung|Clouds|scattered clouds|    294.29|        294.29|        294.29|2022-08-09|13:49:15| 2022-08-09T13:49:15|
|       Bali|Clouds| overcast clouds|    299.39|        299.39|        299.69|2022-08-09|06:31:41|2022-08-09T06:31:...|
|      Medan|  Haze|            haze|    299.83|        299.83|        300.17|2022-08-09|13:49:15| 2022-08-09T13:49:15|
|    Bandung|Clouds|scattered clouds|    294.45|        294.45|        294.45|2022-08-09|13:26:50| 2022-08-09T13:26:50|
|      Medan|  Haze|            haze|    300.94|        300.94|        301.17|2022-08-09|13:26:50| 2022-08-09T13:26:50|
|Labuan Bajo|Clouds|      few clouds|    298.14|        298.14|        298.14|2022-08-09|13:26:50| 2022-08-09T13:26:50|
+-----------+------+----------------+----------+--------------+--------------+----------+--------+--------------------+

In [4]:
scSpark.sql("select kota,cuaca,count(*) as jumlah from laporan_cuaca group by kota, cuaca").show()

+-----------+------+------+
|       kota| cuaca|jumlah|
+-----------+------+------+
|      Medan|  Haze|     3|
|Labuan Bajo|Clouds|     3|
|    Bandung|Clouds|     3|
|       Bali|Clouds|     5|
|     Lombok|Clouds|     3|
+-----------+------+------+

In [5]:
scSpark.sql("select kota,avg(temperatur) as average_temperatur from laporan_cuaca group by kota").show()

22/08/09 15:21:18 WARN org.apache.hadoop.util.concurrent.ExecutorHelper: Thread (Thread[GetFileInfo #1,5,main]) interrupted:
java.lang.InterruptedException
	at com.google.common.util.concurrent.AbstractFuture.get(AbstractFuture.java:510)
	at com.google.common.util.concurrent.FluentFuture$TrustedFuture.get(FluentFuture.java:88)
	at org.apache.hadoop.util.concurrent.ExecutorHelper.logThrowableFromAfterExecute(ExecutorHelper.java:48)
	at org.apache.hadoop.util.concurrent.HadoopThreadPoolExecutor.afterExecute(HadoopThreadPoolExecutor.java:90)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1157)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)

+-----------+------------------+
|       kota|average_temperatur|
+-----------+------------------+
|      Medan|             300.2|
|       Bali|           298.724|
|    Bandung|            294.34|
|     Lombok| 294.3433333333333|
|Labuan Bajo|297.76000000000005|
+-----------+------------------+